
@using AppCoreV1.Repositories;
@using AppCoreV1.Helper;

@{
    ViewData["Title"] = "Services";
}
<script src="~/js/mysearch.js"></script>

<div class="wrapper">
    <!-- Sidebar  -->
    <partial name="_SidebarMain" />
    <!-- Page Content  -->
    <div id="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <div class="row">
                            <div style="padding-left:10px;">
                                <h4>Services</h4>
                                <p>Services page is under development. Available soon.</p>
                                <a asp-action="Index" asp-controller="Home">Back to Home</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_ModalPage" />