
/* Links and transitions */
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* Utilities */
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

/* Inline forms */
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

    .form-inline label {
        width: 150px;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        float: left;
        text-align: left;
        margin: 2px 10px 2px 0;
    }

    .form-inline input {
        vertical-align: middle;
        margin: 2px 10px 2px 0;
        padding: 5px;
        width: 100%;
    }

/* Small adjustments */
.header {
    background-color: #2ECC71;
    padding: 3px 10px;
    color: #fff;
}

.form-group {
    padding: 0;
    margin: 0;
}

.dropdown-item {
    cursor: pointer;
}

/* Remove legacy #sidebar rules from here (moved to site.css) */
