<!-- Modal -->

<div class="modal fade" id="myModal" role="dialog" style="z-index:9000;">
    <div id="m1234" class="modal-dialog modal-lg" style="width:750px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Header</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="return closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="min-height:50px; max-height:400px;overflow-y:auto;">
                <div class="list-group" id="SelectTargetId"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="return closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>
