<link href="~/css/style4.css" rel="stylesheet" />
<link href="~/plugin/fontawesome-free/css/all.css" rel="stylesheet" />

<nav id="sidebar">
    <div class="sidebar-header">
        @*<b>Menu</b>*@
    </div>
    <ul class="list-unstyled components" style="border-bottom:none;">
        <li>
            <a><i class="fas fa-table"></i>Able Portal</a>
        </li>
        <li>
            <a id="viewEventsLink1" asp-action="Index" asp-controller="AbleDashboard"><i class="fas fa-tachometer-alt-fast"></i>Dashboard</a>
        </li>
        <li>
            <a id="viewEventsLink1" asp-action="Index" asp-controller="AbleClaims"><i class="fas fa-wheelchair"></i>Cases</a>
        </li>
        <li>
            <a id="viewEventsLink1" asp-action="Index" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>Reports</a>
        </li>
        <li>
            <a id="viewEventsLink1" asp-action="Index" asp-controller="AblePayments"><i class="fas fa-credit-card"></i>Payments</a>
        </li>
   
    </ul>
</nav>
