@* ABLE Sidebar (SidebarACT) *@
@using Microsoft.AspNetCore.Http

<link href="~/plugin/fontawesome-free/css/all.css" rel="stylesheet" />

<nav class="navmenu d-flex flex-column">
    <a class="nav-link" id="lnkHome" asp-action="Index" asp-controller="Able"><i class="fas fas fa-home"></i>Home</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptAbleuser" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>Able User</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptAbleusersallrole" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>Able Users Role</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptActionsservice" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>Action Services</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptCaseaction" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>Case Action</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="Claimbenefitmv" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>Claim Benefit </a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptClaimbenefitactuarialrec" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>CB Actuarial Rec</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptClaimBenefitactuarialrecl" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>CB Actuarial Rec LS</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptClaimbenefitgroup" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>Claim Benefit Group</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptClaimbenefitreinsurance" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>CB Reinsurance</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptClaimbenefitw" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>Claim Benefit WS</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptClaimcasedecipha" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>Claim Case Decipha</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptClaimexpense" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>Claim Expense</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptClaimparticipant" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>Claim Participant</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptClosedtaskreport" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>Closed Task Report</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptCmpaction" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>CMP Actions</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptCmpgoaldatemovement" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>CMP GD Movements</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptCmpplanstatus" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>CMP Plan Status</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptCmpservice" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>CMP Service</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptCompliant" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>Complaints</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptDocumentreport" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>Document Report</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptEnquirycasereport" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>Enquiry Case Report</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptHcrcompletednote" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>HCR Completed Notes</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptOpentask" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>Open Task</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptOverrideriskreport" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>Override Risk Report</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="Paymentsummarymv" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>Payment Summary</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptPaymentsummaryl" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>Payment Summary LS</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptPhoneenquiry" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>Phone Enquiry</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptRecoveryrehabnote" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>Recovery Rehab Note</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="Taskmv" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>Task Report</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptTaskreportgroup" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>Task Report Group</a>
    <a class="nav-link" id="viewEventsLink1" asp-action="RptTaskreportreinsurance" asp-controller="AbleReports"><i class="fas fa-chart-bar"></i>TR Reinsurance</a>
</nav>
