@* ASTERON Sidebar (SidebarB) *@
@using Microsoft.AspNetCore.Http

<link href="~/plugin/fontawesome-free/css/all.css" rel="stylesheet" />

<nav class="navmenu d-flex flex-column">
    <a class="nav-link" id="lnkDashboard" asp-action="Dashboard" asp-controller="Able"><i class="fas fa-tachometer-alt-fast"></i>Dashboard</a>
    <a class="nav-link" id="lnkClaims" asp-action="Claim" asp-controller="Able"><i class="fas fa-wheelchair"></i>Claims</a>
    <a class="nav-link" id="lnkBenefit" asp-action="Benefit" asp-controller="Able"><i class="fas fa fa-dollar"></i>Benefits</a>
    <a class="nav-link" id="lnkPayment" asp-action="Paymentsummarymv" asp-controller="Able"><i class="fa fa-credit-card"></i>Payments</a>
    <a class="nav-link" id="lnkPayment" asp-action="PaymentSummarySheet" asp-controller="Able"><i class="fa fa-credit-card"></i>PS Sheet</a>
    <a class="nav-link" id="lnkContacts" asp-action="Policy" asp-controller="Able"><i class="fas fa-award"></i>Policies</a>
    <a class="nav-link" id="lnkParty" asp-action="Contact" asp-controller="Able"><i class="fas fa fa-phone"></i>Phone Enquiries</a>
    <a class="nav-link" id="lnkParty" asp-action="MedicalCode" asp-controller="Able"><i class="fas fa-stethoscope"></i>Medical</a>
    <a class="nav-link" id="lnkParty" asp-action="Party" asp-controller="Able"><i class="fas fa-user-friends"></i>Parties</a>
    <a class="nav-link" id="lnkAddress" asp-action="PartyAddress" asp-controller="Able"><i class="fas fa-address-card"></i>Address</a>
    <a class="nav-link" id="lnkDocuments" asp-action="RptDocumentreport" asp-controller="AbleReports"><i class="fa-solid fa-file"></i>Documents MV</a>
    <a class="nav-link" id="lnkDocuments" asp-action="Documents" asp-controller="Able"><i class="fa-solid fa-file"></i>Documents</a>
    <a class="nav-link" id="lnkTasks" asp-action="Taskmv" asp-controller="AbleReports"><i class="fas fa-tasks"></i>Task MV</a>
    <a class="nav-link" id="lnkTasks" asp-action="Tasks" asp-controller="Able"><i class="fas fa-tasks"></i>Tasks</a>
    <a class="nav-link" id="lnkActions" asp-action="RptCaseaction" asp-controller="AbleReports"><i class="fa-solid fa-gear"></i>Actions MV</a>
    <a class="nav-link" id="lnkNotes" asp-action="Note1" asp-controller="Able"><i class="fas fa-file-alt"></i>Notes</a>
    <a class="nav-link" id="lnkReports" asp-action="Index" asp-controller="AbleREports"><i class="fas fa-chart-bar"></i>Reports</a>

     @{
        // Preserve your role-based additions
        var _rolename = Context.Session.GetString("ABLERoleName");
        if (_rolename == "admin")
        {
            <a class="nav-link" id="lnkExports" asp-action="Index" asp-controller="AbleLogs"><i class="fas fa-chart-bar"></i>Logs</a>
            <a class="nav-link" id="lnkExports" asp-action="Index" asp-controller="AbleUsers"><i class="fas fa-chart-bar"></i>Site Users</a>
        }
    }
</nav>
