<link href="~/css/style4.css" rel="stylesheet" />
<link href="~/plugin/fontawesome-free/css/all.css" rel="stylesheet" />

<nav id="sidebar">
    <div class="sidebar-header">
        @*<b>Menu</b>*@
    </div>
    <ul class="list-unstyled components" style="border-bottom:none;">
        <li>
            <a id="lnkHome" asp-action="Index" asp-controller="Able"><i class="fas fa-home"></i>Home</a>
        </li>
        <li>
            <a id="lnkDashboard" asp-action="Dashboard" asp-controller="Asteron"><i class="fas fa-tachometer-alt-fast"></i>Dashboard</a>
        </li>
        <li>
            <a id="lnkClaims" asp-action="Claim" asp-controller="Asteron"><i class="fas fa-wheelchair"></i>Claims</a>
        </li>
        <li>
            <a id="lnkContacts" asp-action="Policy" asp-controller="Asteron"><i class="fas fa-award"></i>Policies</a>
        </li>
        <li>
            <a id="lnkNotes" asp-action="Note" asp-controller="Asteron"><i class="fas fa-file-alt"></i>Notes</a>
        </li>
        <li>
            <a id="lnkDocuments" asp-action="Document" asp-controller="Asteron"><i class="fa-solid fa-file"></i>Documents</a>
        </li>
        <li>
            <a id="lnkTasks" asp-action="Activity" asp-controller="Asteron"><i class="fas fa-tasks"></i>Activities</a>
        </li>
        <li>
            <a id="lnkParty" asp-action="History" asp-controller="Asteron"><i class="fas fa-stethoscope"></i>History</a>
        </li>
        <li>
            <a id="lnkParty" asp-action="Contact" asp-controller="Asteron"><i class="fas fa-user-friends"></i>Contacts</a>
        </li>
        <li>
            <a id="lnkAddress" asp-action="Address" asp-controller="Asteron"><i class="fas fa-address-card"></i>Address</a>
        </li>
       <li>
            <a id="lnkBenefit" asp-action="Coverage" asp-controller="Asteron"><i class="fas fa-dollar"></i>Coverage</a>
        </li>
        <li>
            <a id="lnkParty" asp-action="Incident" asp-controller="Asteron"><i class="fas fa-phone"></i>Incident</a>
        </li>
        <li>
            <a id="lnkTasks" asp-action="Complaint" asp-controller="Asteron"><i class="fas fa-comments"></i>Compliant</a>
        </li>
        @{
            var _rolename = Context.Session.GetString("ABLERoleName");

            if(_rolename == "super")
            {
                <li>
                    <a id="lnkExports" asp-action="Index" asp-controller="AbleLogs"><i class="fas fa-chart-bar"></i>Logs</a>
                </li>
                <li>
                    <a id="lnkExports" asp-action="Index" asp-controller="AbleUsers"><i class="fas fa-chart-bar"></i>Site Users</a>
                </li>
            }
        }
    </ul>
</nav>
