<link href="~/css/style4.css" rel="stylesheet" />
<link href="~/plugin/fontawesome-free/css/all.css" rel="stylesheet" />

<nav id="sidebar">
    <br />
    <div class="sidebar-header">
        <h4>Claims Archival</h4>
    </div>

    <ul class="list-unstyled components" style="border-bottom:none;">
        <li>
            <a asp-action="Index" asp-controller="Able">
                <i class="fas fa-desktop"></i>
                <span>Able</span>
            </a>
        </li>

        <li>
            <a asp-action="Index" asp-controller="Asteron">
                <i class="fas fa-desktop"></i>
                <span>Asteron</span>
            </a>
        </li>
    </ul>
</nav>
