@model AppCoreV1.ABLEModels.AbleIssue;

@{
    ViewData["Title"] = "Create";
}

<link href="~/css/style4.css" rel="stylesheet" />
!-- include summernote css/js -->
@*<link href="~/plugin/summernote-0.8.18-dist/summernote.css" rel="stylesheet" />
<link href="~/plugin/summernote-0.8.18-dist/summernote-bs4.css" rel="stylesheet" />
<script src="~/plugin/summernote-0.8.18-dist/summernote-bs4.js"></script>*@

<div class="wrapper">
    <!-- Sidebar  -->
    <partial name="_SidebarA" />
    <!-- Page Content  -->
    <div id="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h4>Create Issue</h4>
                        <a asp-action="Index" asp-controller="AbleIssues">Back to Issues</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-action="Create" asp-controller="AbleIssues" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <label asp-for="ReportedBy" class="control-label"></label>
                                    <input asp-for="ReportedBy" class="form-control" />
                                    <span asp-validation-for="ReportedBy" class="text-danger"></span>
                                </div>
                               @* <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    <input asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>*@
                                <div class="form-group">
                                    @Html.TextArea("Description", new { name = "Description", id = "Description", rows = "10", cols = "150" })
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-inline">
                                    <input type="submit" value="Save" class="btn btn-success" style="width:150px;" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div>
                        <a asp-action="Index" asp-controller="AbleIssues">Back to Issues</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*
<script>
    $(function () {
        //Add text editor
        $('#Description').summernote({
            height: 250,
        })
    })
</script>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

