<link href="~/css/style4.css" rel="stylesheet" />
<script src="~/js/mysearch.js"></script>

<style>
    .content-image {
        font-size: 90px;
        text-align: center;
        background-color: #F2F4F4;
    }
</style>

<div class="wrapper">
    <!-- Sidebar  -->
    <partial name="_SidebarMain" />
    <!-- Page Content  -->
    <div id="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="card-title text-primary">
                        <h2>About Claims Central</h2>
                    </div>
                    <div class="container">
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <h5>
                                The Claims Central web site is designed and developed by RLA to provide Figtree claim related services to
                            </h5>
                            <div class="col col-md-12">
                                <ul>
                                    <li>Figtree users who can login to the web site</li>
                                    <li>Business applications through API interfaces</li>
                                    <li>Stakeholders through request and response</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_ModalPage" />

