<link href="~/css/style4.css" rel="stylesheet" />
<script src="~/js/mysearch.js"></script>

<style>
    .content-image {
        font-size: 90px;
        text-align: center;
        background-color: #F2F4F4;
    }
</style>

@{
    ViewData["Title"] = "Home";
}

<div class="wrapper">
    <!-- Sidebar  -->
    <partial name="_SidebarS" />
    <!-- Page Content  -->
    <div id="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h2>RLA Claims Portal</h2>
                        <p>Resolution Life Portal for Archived Claims Data</p>
                    </div>
                    <div class="container">
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card content-image">
                                    <a id="lnkClaims" asp-action="Claim" asp-controller="Able"><i class="fa fa-globe" aria-hidden="true"></i><h5>ABLE</h5></a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card content-image">
                                    <a id="lnkClaims" asp-action="Claim" asp-controller="Orion"><i class="fa fa-globe" aria-hidden="true"></i><h5>ORION</h5></a>
                                </div>
                            </div>

                          @*   <div class="col-md-3">
                                <div class="content-image">
                                    <a id="viewEventsLink" asp-action="Index" asp-controller="Figtree"><img class="content-image" src="~/images/ClaimLogo.svg" /></a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="content-image">
                                    <a id="viewEventsLink" asp-action="Index" asp-controller="Able"><img class="img-fluid" src="~/images/AbleDiagram1.drawio.svg" /></a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="content-image">
                                    <a id="viewEventsLink" asp-action="Index" asp-controller="PAYG"><img class="img-fluid" src="~/images/PaygDiagram1.drawio.svg" /></a>
                                </div>
                            </div> *@
                        </div>
                    </div>
                    <br />

                </div>

            </div>
        </div>
    </div>
</div>

<partial name="_ModalPage" />

